@using Movies.Utilities
@model IEnumerable<Movies.Models.Movie>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Movies</h2>

<p>
    <a class="btn btn-primary" href="/Admin/Movie/Create">Create New Movie</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Main Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Date</th>
            <th>Cinema</th>
            <th>Category</th>
            <th>Actors</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <!-- Main Image -->
                <td>
                    @if (!string.IsNullOrEmpty(movie.MainImg))
                    {
                        <img src="@Url.Content("~/MovieImages/" + movie.MainImg)" width="80" style="object-fit: cover;" />
                    }
                </td>

                <!-- Movie Details -->
                <td>@movie.Name</td>
                <td>@movie.Price.ToString("C")</td>
                <td>@movie.Date.ToString("g")</td>

                <!-- Cinema & Category -->
               
                    <td>
                        @if (!string.IsNullOrEmpty(movie.Cinema.Img))
                        {
                        <img src="@Url.Content("~/CinemaImage/" + movie.Cinema.Img)" width="80" style="object-fit: cover;" />
                        }
                    </td>
                
                <td>@movie.Category?.Name</td>

                <!-- Actors -->
                <td>
                    @if (!string.IsNullOrEmpty(movie.Cinema.Img))
                    {
                        <img src="@Url.Content("~/ActorsImg/" + movie.Name)" width="80" style="object-fit: cover;" />
                    }
                </td>

                <!-- Actions -->
                @if (User.IsInRole(SD.SUPER_ADMIN_ROLE) || User.IsInRole(SD.ADMIN_ROLE))
                {
                    <td>
                        <a asp-area="Admin"
                           asp-controller="Movie"
                           asp-action="Edit"
                           asp-route-id="@movie.Mov_Id"
                           class="btn btn-warning">
                            Edit
                        </a>

                        <form asp-area="Admin"
                              asp-controller="Movie"
                              asp-action="Deletes"
                              asp-route-id="@movie.Mov_Id"
                              method="post"
                              style="display:inline">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>


                    </td>
                }
                else
                {
                    <td>No Actions</td>
				}
              
            </tr>
        }
    </tbody>
</table>
